* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

p {
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.5;
}

.outter-container {
  width: 960px;
  margin: 0 auto;
}
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 48px;
}

img {
  width: 100%;
}

h1 {
  font-size: 44px;
  margin-bottom: 24px;
  line-height: 1.1;
  letter-spacing: -1px;
}

.header-text-box {
  align-self: center;
}

.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

h2 {
  margin-top: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 24px;
  margin-bottom: 96px;
  gap: 48px;
}

.master-img {
  width: 266px;
  height: 320px;
  margin-bottom: 36px;
}

.master-img-black {
  width: 350px;
  height: 320px;
}

.grid-2-col {
  display: grid;
  grid-template-columns: 266px 1fr;
  margin-top: 48px;
  margin-bottom: 96px;
  gap: 96px;
}

.testimonial-blockquote {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.testimonial-blockquote h2 {
  font-size: 24px;
}

blockquote {
  font-style: oblique;
  font-size: 18px;
  line-height: 1.7;
}

.features-heading {
  margin-bottom: 24px;
  font-size: 20px;
}

.features-description {
  font-size: 18px;
  line-height: 1.7;
}

.colors {
  margin-bottom: 48px;
}

.wheel-color {
  padding: 24px;
  text-align: center;
}

.wheel-color-title {
  margin-bottom: 24px;
  font-size: 20px;
}

.color-details {
  list-style: none;
  /* margin-bottom: 36px; */
}

.color-details li {
  text-align: left;
  margin-bottom: 16px;
}

.wheel-price {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
